

 .front-grid {
  background-color: rgb(37, 37, 37);
  position: relative;
  height:50em;
  width: 90em;
  margin: 0 auto;
 }
 
 /* The grid: Four equal columns that floats next to each other */
 .column {
    display: block;
    float: right;
    height: 11em;
    width: 100%;
  }
  
  /* Style the images inside the grid */
  .column img {
    height:10em;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .column img:hover {
    opacity: 1;
  }

  .row {
    position: absolute;
    grid-template-rows: auto auto auto;
    margin: 0% auto;
    left: 77%;
    height: 33em;
    max-width: 16em;
    padding: 1em;
    background-color:white;
    border-radius: 10px;
  }
  

  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    max-height:auto;
    max-width: auto;
    position: absolute;
    display: none;
  }
  
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  } 